.header, .head { height: 108px; margin: 0 auto; background: #FFFFFF; color: #2b2b2b; box-sizing: border-box; z-index: 200; position: relative; }
.main, .footer {  position: relative; z-index:100; }
.logo { float: left; margin-top: 30px; }
.nav_box li { float: left; width: 110px; height: 108px; box-sizing: border-box; }
/*.nav_box li.on{ background: #f4f4f4;     box-sizing: border-box; border-bottom: 2px solid #1166b1;}*/	
.nav_box li.on a { color: #000; }
.nav_box a { display: block; width: 100%; height: 100%; text-align: center; line-height: 108px; font-size: 16px; color: #2b2b2b; box-sizing: border-box; font-family: "Microsoft Yahei", arial, "\5b8b\4f53"; }
.nav_box { margin-right: 128px; position: relative; }
.nav_box ul { position: relative; z-index: 10; }
.blueBox { position: absolute; left: 0; top: 0; width: 110px; height: 108px; background: #f4f4f4; z-index: 9; box-sizing: border-box; border-bottom: 2px solid #1166b1; opacity:0;}
.nav_box, .search_box { float: right; }
.search_box { width: 235px; height: 108px; }
.search_box a { font-size: 12px; font-family: "Microsoft Yahei", arial, "\5b8b\4f53"; color: #000; }
.lang { text-align: right; margin: 10px 0; }

.headlink{text-align: right;margin-bottom: 6px;margin-top: 6px}
.headlink a{color: rgba(42,42,42,0.7);}
.search_inp{ margin-bottom: 7px;width:234px; height:30px; border: 1px solid #cecece; clear:both; float:right; box-sizing:border-box; }
.search_inp input.search_inp_txt { width: 74%; padding:0 3%; height: 30px; float:left; border:0; background:none; }
.search_inp input.search_inp_button { width: 20%; height: 28px; background:url(../images/search.png) no-repeat center; border:0; float:left; }

.banner_index_new{ margin-bottom:84px;}

.header, .head,.in_news_main,.in_service_main,.footer_wrap,.inner_main,.banner_inner_txt{ width:1280px; margin:0 auto;}
.banner_inner_txt {  margin-left:-640px; left:50%;}

.nav_list { display: none; background: url(../images/banner_txt.png) no-repeat; width: 1920px; height: 287px; position: absolute; top: 108px; left: 50%; margin-left: -960px; }
.nav_list ul { width: 190px; position: absolute; left: 50%; margin-left: -270px; top: 40px; }
.nav_list li { line-height: 16px; padding-bottom: 20px; }
.nav_list li a { font-size: 14px; color: #2b2b2b; }
.nav_list li a:hover { color: #005bac; }

.nav_hidden { display: none; }

.nav_p{ position:absolute; top:40px; left:45%; margin-left:150px; width:384px; color:#005bac; font-size:18px; line-height:1.7em;}
.nav_p h4{ font-weight:normal;}

.in_news h4,.in_product h4,.in_service h4{ display:inline-block; width:auto; font-size:36px; height:2.3em; margin:0 auto; border-top:3px solid #626262; border-bottom:2px solid #626262; line-height:2.3em; padding:0 10px; margin-bottom:54px;}
.in_news h4 a,.in_product h4 a,.in_service h4 a{ color:#2b2b2b;}


.in_news{ text-align:center; margin-bottom:100px;}
.in_news_main_l{ width:35%; float:left;}
.in_news_main_r{ width:65%; float:left; position:relative; top:-4px;}
.in_news_main_r > a{    display: inline-block;
    clear: both;
    float: right;
    padding: 4px 8px;
    color: #000;
    border: 1px solid #000;
    font-size: 14px;}
.in_news_main_r li{ width:50%; float:left; text-align:left; margin-bottom:22px;}
.in_news_main_r li h5,.in_news_main_r li span,.in_news_main_r p{ margin-left:56px;}
.in_news_main_r li h5 a{ font-size:20px; color:#2a2a2a; font-weight:normal; line-height:1.4em; height:2.8em; overflow:hidden; display:block;}
.in_news_main_r li span{ font-size:12px; color:#a0a0a0; line-height:34px;}
.in_news_main_r li p{ font-size:14px; color:#616161; line-height:1.7em; height:3.4em; overflow:hidden;}

.in_news_main_l a{ width:100%; height:100%; display:block; position:relative; font-size:20px;}
.in_news_main_l a img{ width:100%; height:100%;}
.in_news_main_l a p{ position:absolute; line-height:50px; color:#fff; background:rgba(0,0,0,0.6); width:100%; bottom:0; padding:0 26px; box-sizing:border-box; text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100%;}


.in_product i { text-decoration: none; color:#2D2E32;transition:0.4s all; -webkit-transition:0.4s all;}
.in_product_txt p,.in_product_txt a { text-decoration: none; color:#2D2E32;transition:1s all; -webkit-transition:1s all;}

.in_product{ text-align:center; margin-bottom:100px;}

.in_product_main_l{ width:36.3541%; height:100%; float:left; position:relative;}
.in_product_main_l img{ width:100%; height:100%;}
.in_product_main_r{ width:63.6459%; height:100%; float:left; position:relative;}
.in_product_main_r img{ width:100%; height:100%;}


.in_product_main_t,.in_product_main_b{ width:100%; height:50%;}

.in_product_main_t_l{ width:61%; height:100%; float:left; position:relative;}
.in_product_main_t_r{ width:39%; height:100%; float:left; position:relative;}

.in_product_main_b_l{ width:51%; height:100%; float:left; position:relative;}
.in_product_main_b_r{ width:49%; height:100%; float:left; position:relative;}

.in_product_txt{ position:absolute; left:50px; top:42px; text-align:left; width:75%; z-index:20;}
.in_product_txt h5{ line-height:2em; font-size:36px; font-weight:normal; position:relative; margin-bottom:0.9em;}
.in_product_txt h5 a{ color:#fff;}
.in_product_txt h5 em{ height:4px; width:90px; position:absolute; left:0; bottom:0; display:block; background:#fff;}
.in_product_txt p{ color:#fff; font-size:14px; line-height:1.7em; height:6.8em; overflow:hidden; margin-bottom:1.7em; opacity:0;}
.in_product_txt a > img{ width:auto; height:auto; opacity:0; }
.in_product i{ display:block; width:100%; height:100%; background:rgba(0,0,0,0.5); position:absolute; left:0; top:0; z-index:10; transform:scale(1,1); opacity:0;}

.proHover:hover i{ opacity:1; transform:scale(1,1);}
.proHover:hover .in_product_txt p{ opacity:1;}
.proHover:hover .in_product_txt a > img{ opacity:1;}


.in_service{ text-align:center; margin-bottom:100px;}
.in_service ul{ position:relative; left:0;}
.in_service li{ width:6%; float:left; height:100%; position:relative; overflow:hidden;}
.in_service li > a{ width:100%; height:100%;}
.in_service li img{ height:100%; width:auto;}
.in_service li.on{ width:64%;}
.in_service li.on a{ display:block; width:100%; height:100%;}
.in_service li.on a img{ width:100%; height:100%;}
.in_service_main{ position:relative; overflow:hidden;}
.in_service_main .in_service_l{ width:18%; display:block; height:100%; position:absolute; left:0; top:0; background:url(../images/left_menu.png) no-repeat center rgba(0,0,0,0.5); z-index:200;}
.in_service_main .in_service_l:hover{ background:url(../images/left_menu.png) no-repeat 45% rgba(0,0,0,0.5);}
.in_service_main .in_service_r{ width:18%; display:block; height:100%; position:absolute; right:0; top:0; background:url(../images/right_menu.png) no-repeat center rgba(0,0,0,0.5); z-index:200;}
.in_service_main .in_service_r:hover{ background:url(../images/right_menu.png) no-repeat 55% center rgba(0,0,0,0.5);}

.in_service_main_wrap,.in_service ul { width:100%; height:100%;}
.in_service ul{ width:8000%;}

.serText{ position:absolute; bottom:0; text-align:left; padding:20px 40px; box-sizing:border-box; background:rgba(0,0,0,0.5); opacity:0; width:100%;}
.serText a {  color:#fff;}
.serText h6{ font-size:30px; color:#fff; font-weight:normal; margin-bottom:10px;}
.serText p{ font-size:14px; color:#fff; font-weight:normal; line-height:1.7em; height:3.4em; overflow:hidden;}

.in_service li.on .serText{ opacity:1;}

.footer { background:#f5f5f5; padding:56px 0;}
.footer_wrap{}

.foot_r_logo{ width:136px; float:left; margin-right:56px; line-height:38px;}
.foot_r_logo h4{ font-weight:normal; margin-bottom:4px;}

.footer_l{ width:50%; float:left;}
.footer_l h4{ font-size:24px; color:#2a2a2a; font-weight:normal; margin-bottom:20px;}
.footer_l h5{ font-size:14px; color:#2a2a2a; font-weight:normal; margin-bottom:12px; width:90%;}
.footer_l p{ font-size:12px; color:#2a2a2a; font-weight:normal;}

.footer_r{ width:auto; float:right; margin-right:2%;}
.footer_r dl{ width:180px; float:left;}
.footer_r dl dt,.footer_r dl dd{ border-bottom:1px dotted #b4b4b4; line-height:38px;}
.footer_r dl dt a{font-size:14px; color:#000;}
.footer_r dl dd a{ font-size:14px; color:#7c7c7c;}
.footer_r ul{ width:auto; float:left; margin-left:55px;}
.footer_r ul li{ line-height:38px;}
.footer_r ul li a{ color:#000;}

.footer_wrap_top{ margin-bottom:32px;}
.footer_wrap_bottom{ line-height:58px; font-size:12px; border-top:1px solid #2a2a2a;}
.footer_wrap_bottom a { color:#2a2a2a; }

.foot_share{ overflow:hidden; padding-top:10px;}
.foot_share a{ display:block; float:left; width:27px; height:27px; margin-right:8px;-webkit-transition: 0.8s transform;}
.foot_share a:hover{transform: rotate(360deg);-webkit-transform: rotate(360deg);}
.phone_menu{ display:none;}

.nav_box ul.other_nav{ display:none;}
.phone_box{ display:none;}
.phone_search{ display:none;}


/*2016-10-28*/
.in_product_main_l,.in_news_main,.in_product_main_t_l,.in_news_main_l,.in_news_main_r{transition:1s all; -webkit-transition:1s all;}

.in_news_main { position:relative;}

.in_news_main_l{ top:100px; opacity:0; position:relative;}
.in_news_main_r{ left:100px; opacity:0; position:relative;}

.in_news_main.on .in_news_main_l{ top:0; opacity:1;}
.in_news_main.on .in_news_main_r{ left:0; opacity:1;}

.in_product_main{}
.in_product_main_l { position:relative; left:-100px; opacity:0;}
.in_product_main_b_l,.in_product_main_b_r{ position:relative; top:-100px; opacity:0;transition:1s all .4s; -webkit-transition:1s all .4s;}
.in_product_main_t_l,.in_product_main_t_r{ position:relative; left:100px; opacity:0; }
.in_product_main_t_r{transition:1s all .5s; -webkit-transition:1s all .5s;}

.in_product_main.on .in_product_main_l{ left:0; opacity:1;}
.in_product_main.on .in_product_main_b_l,.in_product_main.on .in_product_main_b_r{ top:0; opacity:1;}
.in_product_main.on .in_product_main_t_l,.in_product_main.on .in_product_main_t_r{ left:0; opacity:1;}

.in_product_main_t{ position:relative; z-index:10;}
.in_product_main_b{ position:relative; z-index:5;}


.inner_inpro .in_product_main_l,.inner_inpro .in_product_main_b_l,.inner_inpro .in_product_main_b_r,.inner_inpro .in_product_main_t_l,.inner_inpro .in_product_main_t_r { opacity:1; }
.inner_inpro .in_product_main_l { left:0; }
.inner_inpro .in_product_main_b_l, .inner_inpro .in_product_main_b_r { top:0; }
.inner_inpro .in_product_main_t_l, .inner_inpro .in_product_main_t_r { left:0; }

.inner_inpro .in_product h4{ font-size:20px; margin-bottom:24px;}
.inner_inpro .in_product_txt h5{ font-size:20px;}
.inner_inpro .in_product_txt h5 em{ width:60px; height:2px;}
.inner_inpro .in_product_txt{ top:15px; left:15px;}


/*index banner*/
.banner_index_new {  position:relative;}
.banner_index_new ul,.banner_index_new ul li {  width:100%; height:100%; z-index:1; overflow:hidden;}
.banner_index_new ul li.curr{z-index:2;}
.banner_index_new li img { width:100%; height:100%; }
.banner_index_new .vbox{ position:absolute; width:100%; height:100%; z-index:1; left:0; top:0; cursor:pointer;  background:#000; }
.banner_index_new .vbox video{width: 100%; height:100%; }
.banner_index_new ul li video{ height:100%; width:100%;}

.banner_index_new ul, .banner_index_new ul li table{ z-index:30; position:absolute; width:100%; height:100%; left:0; top:0;}

.banner_index_new ul li em{ display:block; width:100%; height:100%; background:rgba(0,0,0,0.6) url(../images/play_video.png) center no-repeat; position:absolute; left:0; top:0; cursor:pointer;}

.banner_index_new { position:relative; overflow:hidden; }

.banner_index_new dl { position:absolute; text-align:center; bottom:20px; left:0; width:100%; z-index:5000; }
.banner_index_new dl dd { display:inline-block;text-indent: 9999px;
    width: 16px;
    height: 16px;
    margin: 0;
    outline: 0;
    overflow: hidden;
    border-radius: 0px;
    background: none;
    border: 1px solid #fff; margin-right:10px; cursor:pointer;}
.banner_index_new dl dd:last-child { margin-right:0; }
.banner_index_new dl dd.active { background: #005bac; border: 1px solid #fff; }


.banner_left{ left:0%; top:50%; margin-top:-41px; display:block; width:82px; height:82px; position:absolute; z-index:10000; background:url(../images/lm.png) no-repeat left;}
.banner_right{ right:0%; top:50%; margin-top:-41px; display:block; width:82px; height:82px; position:absolute; z-index:10000; background:url(../images/rm.png) no-repeat left;}

.banner_index_new video { transform:scale(1.01); position:absolute; left:0; top:0; width:100%; height:100%; }

/*fix header*/
.fixHeader { position:fixed; left:0; top:0; width:100% !important; }

.main { margin-top:108px; }

.banner_index_new ul li > a { position:absolute; width:100%; height:100%; display:block; overflow:hidden; left:0; top:0; z-index:50; }
.banner_index_new ul li table {  width:100%; height:100%; position:absolute; left:0; top:-9%;}
.banner_index_new ul li table td { vertical-align:middle; text-align:center; width:80%; color:#fff; }
.banner_index_new ul li table td p { width:80%; padding-bottom:0px; margin:0 auto; }
.banner_index_new ul li table td i { display:none; width:40%; font-size:14px; margin:0 auto; line-height:1.7em; height:3.4em; overflow:hidden; }

.pc_in_service_main{ display:block;}
.phone_in_service_main{ display:none;}

@media only screen and (max-width: 1520px) {
	
	.nav_box{ margin-right:28px;}
	.nav_list ul{ margin-left:-214px;}
	.nav_p{ margin-left:10px; font-size:16px; left:50%;}
	
	.header, .head,.in_news_main,.in_service_main,.footer_wrap,.inner_main,.banner_inner_txt{ width:1150px; margin:0 auto;}
	.banner_inner_txt {  margin-left:-575px;}

	.in_product_txt h5,.serText h6{ font-size:22px;}
	.in_product_txt{ top:30px; left:20px; width:85%;}
	
	.in_news h4, .in_product h4, .in_service h4{ font-size:22px; margin-bottom:30px;}
	
	.in_news,.in_product,.in_service,.banner_index_new{ margin-bottom:60px;}
	
	.in_news_main_r li h5 a,.in_news_main_l a{ font-size:16px;}
	
	.in_news_main_r li h5, .in_news_main_r li span, .in_news_main_r p{ margin-left:30px;}
	.in_news_main_r li span{ line-height:28px;}
	
	.serText a h6{ font-size:22px;}
	
	.bx-wrapper .bx-controls-direction a {
		 margin-top: -26px !important;
		 width:52px !important;
		 height:52px !important;
	}
	
	.bx-wrapper .bx-pager.bx-default-pager a{
		width:12px !important; height:12px !important;
	}
	
	.footer{ padding:40px 0;}
	
	.in_product_txt{ top:20px;}
	.in_product_txt p{ margin-bottom:0.7em;}

        .banner_left { width:60px; height:60px; background-size:100% 100%; }
        .banner_right { width:60px; height:60px; background-size:100% 100%; }

        .banner_index_new ul li table td p { width:80%; padding-bottom:0px; }
        .banner_index_new ul li table td i { width:50%;  }
	
}


@media only screen and (max-width: 1300px) {
	
	.nav_box li,.blueBox{ width:98px;}
	.in_news_main_r li h5 a,.in_news_main_l a{ font-size:16px;}
	.in_news h4, .in_product h4, .in_service h4{ font-size:20px; margin-bottom:24px;}
	.in_product_txt h5,.serText h6{ font-size:20px;}
	.in_product_txt h5 em{ width:60px; height:2px;}
	.in_news, .in_product, .in_service,.banner_index_new{ margin-bottom:36px;}
	.header, .head,.in_news_main,.in_service_main,.footer_wrap,.inner_main,.banner_inner_txt{ width:1070px; margin:0 auto;}
    .banner_inner_txt {  margin-left:-535px;}

	.serText a h6{ font-size:20px;}
	.in_product_txt p{ height:5.1em;}
	
	.in_product_txt a > img{ width:28px; height:28px;}
	
	
	
	
	.serText{ padding:10px 20px;}
	
	.footer_l h4{ font-size:20px; margin-bottom:10px;}
	
	.footer{ padding:30px 0;}
	
	.logo { margin-top:36px;}
	.logo img{ height:35px;}	

    .banner_index_new ul li table td p { width:80%; padding-bottom:0px; }
    .banner_index_new ul li table td i { width:60%;  }
}


@media only screen and (max-width: 1140px) {
	.header, .head,.in_news_main,.in_service_main,.footer_wrap,.inner_main,.banner_inner_txt{ width:1004px; margin:0 auto;}
    .banner_inner_txt {  margin-left:-502px;}
	
	.nav_box li, .blueBox{ width:88px;}
	.nav_box a{ font-size:14px;}
	.in_product_txt p{ font-size:12px;}
	
	.foot_r_logo{ margin-right:40px;}
	.footer_r ul{ margin-left:40px;}
		
}


@media only screen and (max-width: 1023px) {
	.headlink{display: none;}
	.header, .head,.in_news_main,.in_service_main,.footer_wrap,.inner_main,.banner_inner_txt{ width:auto; margin:0 10px;}
    .banner_inner_txt {  margin-left:0; left:10px;}
	
	.nav_box li, .blueBox{ width:88px;}
	.nav_box a{ font-size:14px;}
	.in_product_txt p{ font-size:12px;}
	
	.in_product_txt{ top:6px; left:6px;}
	.in_product_txt h5,.serText h6{ font-size:16px; margin-bottom:0.5em;}
	.in_product_txt p{ font-size:14px; margin-bottom:1em;}
	
	.in_product_txt a > img{ width:20px; height:20px;}
	
	.footer_r dl{ width:110px;}
	
	.blueBox{ display:none;}
	
	.logo,.search_box,.nav_box{ float:none;}
	.search_box,.search_inp	{ width:100%;}
	.search_inp input.search_inp_txt{ width:90%; box-sizing:border-box;}
	.search_inp input.search_inp_button{ width:10%;}
	
	
	
	.in_product_main_l { left:0px; opacity:1;}
.in_product_main_b_l,.in_product_main_b_r,.in_news_main { top:0px; opacity:1;}
.in_product_main_t_l,.in_product_main_t_r{ left:0px; opacity:1;}

        .inner_inpro .in_product_txt { left:0; top:auto; }
	
	.logo{ margin-top:10px;}
	.header, .head{ height:auto;}
	.header{ padding-bottom:10px;}
	.search_box{ height:auto;}
	
	header,.main,footer,.phone_menu em.p1,.phone_menu em.p2,.phone_menu em.p3,.nav_box,.nav_box ul,.search_inp {
		transition:all 0.4s cubic-bezier(0.42,0,1,1) 0s;
	}
	
	
	.nav_box {
		display: block;
		position: fixed;
		right: 0;
		top: 57px;
		z-index: 600;
		left: auto;
		background: #fff;
		height: 8000px;
		line-height: 30px;
		width: 90%;
		margin-right:0;
		border-left:5px solid #005bac;
		border-top:5px solid #005bac;
		box-sizing:border-box;
		transform:translateX(100%)
	}
	
	.nav_box.on{transform:translateX(0%)}
	
	.nav_box ul{ position:absolute; transform: translateX(102%); right:0; background:#fff; height:100%; top:0; width:100%;}
	.nav_box ul.on{ transform: translateX(0%);}
	.nav_box ul.main_nav{ display:block; position:relative; transform: translateX(0%);}
	
	.nav_box li{ width:100%; height:60px; line-height:60px; border-bottom:1px solid #dadada; text-align:left;}
	.nav_box li:first-child{}
	.nav_box li a{ line-height:60px; text-align:left; display:block; background:url(../images/right_menu.gif) no-repeat 90% center; padding:0 26px; margin-left:-5px; border-left:5px solid #005bac;}
	.nav_box ul li:first-child a{ background:#fff; border-left:5px solid #fff;}
	.nav_box ul li em{ background:url(../images/left_menu.gif) no-repeat center; display:block; width:10px; height:100%; margin-right:4px; float:left;}
	.nav_box ul.main_nav li:first-child a{ background:url(../images/home.png) no-repeat 90% center #fff; border-left:5px solid #fff;}
	.nav_box ul.other_nav li a{ background:none;}
	
	.phone_menu {
		color: #686666;
		display: block;
		float:right;
		position:relative;
		top:6px; margin-right:0px;
		background: #005bac;
		width: 45px;
		height: 45px;
		transform: translateX(0px);
	}
	
	.search_box{ position:fixed; left:0; right:auto; top:6px; z-index:600; height:auto;}
	
	.phone_search{ display:block; width:45px; height:45px; background:url(../images/search_b.jpg) no-repeat center; position:absolute; right:55px; top:0; border-left:1px solid #c6c6c6;}
	
	.phone_menu em.p1{ display:block; width:22px; height:2px; background:#d7d6d6; position:absolute; top:50%; margin-top:-6px; left:50%; margin-left:-11px; border-radius:2px;}
	.phone_menu em.p2{ display:block; width:22px; height:2px; background:#d7d6d6; position:absolute; top:50%; margin-top:0; left:50%; margin-left:-11px; border-radius:2px;}
	.phone_menu em.p3{ display:block; width:22px; height:2px; background:#d7d6d6; position:absolute; top:50%; margin-top:6px; left:50%; margin-left:-11px; border-radius:2px;}	
	
	
	.phone_menu em.p1{ transform:rotate(0deg); margin-top:-7px;}
	.phone_menu em.p2{ opacity:1;}
	.phone_menu em.p3{ transform:rotate(0deg); margin-top:7px;}
	.phone_menu.on{ transform:translateX(0px);}
	.phone_menu.on em.p1{ transform:rotate(45deg); margin-top:0;}
	.phone_menu.on em.p2{ opacity:0;}
	.phone_menu.on em.p3{ transform:rotate(-45deg); margin-top:0;}
	
	.phone_menu{ display:block;}
	
	.in_service_main .in_service_l,.in_service_main .in_service_r{ display:none;}
	
	.in_service ul{ left:0;}
	.in_service_main{ height:auto !important;}
	.in_service li img,.in_service li.on a img,.in_service li.on a,.in_service li a{ width:100%; height:auto;}
	.serText{ position:relative; bottom:auto; padding-bottom:50px; opacity:1 !important;}
	.serText a h6{ font-size:16px;}
	
	.logo img{ height:30px;}
	
	.head{ margin:0;}
	
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{ bottom:10px !important;}
	
	.phone_box{ position:fixed; left:0; top:0; background:#fff; padding:0 10px; width:100%; height:62px; border-bottom:5px solid #005bac; box-sizing:border-box;}
	.nav_list{ display:none !important;}
	
	.nav_box ul.other_nav{ display:block;}
	.phone_box{ display:block;}
	
	.phone_search{ display:block;}
	.phone_search.on{ background:url(../images/close_phone.jpg) no-repeat center #005bac;}
	
	.lang{ position:absolute; width:60px; right:116px; top:0; margin:13px 0;}
	.search_inp{ position:absolute; top:60px;}
	
	.lang *{ display:none;}
	.lang .save_link,.lang .save_link a{ display:block;}
	
	.search_inp{ top:56px; position:absolute; background:#fff; border:0; height:0; opacity:0; width:100%; float:left; text-align:center; overflow:hidden;}
	.search_inp input.search_inp_txt{ display:inline-block; width:262px; margin-right:10px; height:28px; border:1px solid #cacaca; float:left;}
	.search_inp input.search_inp_button{ display:inline-block; float:none; width:28px; height:28px; background:url(../images/phone_s_m.jpg) no-repeat; position:relative; bottom:auto;}
	
	.search_phone_box{ width:300px; position:relative; left:50%; margin-left:-150px; padding-top:20px;}
	
	.search_inp.on{ height:72px; opacity:1;}
	
	.logo{ opacity:0;}
	.phone_box .logo{ opacity:1;}

        .banner_index { height:auto !important; }

        .main { margin-top:62px; }


    .banner_index_new ul li table { top:-5%; }
        .banner_index_new ul li table td p { width:80%; padding-bottom:0px; }
    .banner_index_new ul li table td i { width:80%;  }


    .in_product_main{ margin:0 10px;}
	.in_product_main_l,.in_product_main_t_l,.in_product_main_t,.in_product_main_b_l{ width:100%; margin-bottom:10px;}
	.in_product_main_r,.in_product_main_t_r,.in_product_main_b_r{ width:100%;}
	.in_product_main{ height:auto !important;}
        .in_product_main_l img { position:relative; z-index:21; }
		
	.in_product_txt{ position:absolute; background:rgba(0,0,0,0.4); left:0; top:auto; bottom:0; width:100%; height:auto; box-sizing:border-box; padding:10px; z-index:100;}
	.in_product_txt p,.in_product_txt a > img{ opacity:1 !important;}
	.in_product i{ background:rgba(0,0,0,0.5); display:none !important;}
	
	.in_news_main_r > a{ float:left; margin-top:10px;}
	
	.pc_in_service_main{ display:none;}
	.phone_in_service_main{ display:block;}
	
	.serText p{display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; width:99%; margin:0 auto;}
	
	.main{ overflow:hidden;}
	
	.footer_l,.footer_r{ width:100%;}
	.footer_r{ margin-right:0; margin-bottom:20px;}
	.footer_l h5{ width:100%;}
	
}



@media only screen and (max-width: 767px) {
	
	.banner_index_new li img{ height:auto;}
	
	.in_news_main_l,.in_news, .in_product, .in_service, .banner_index_new,.in_news h4, .in_product h4, .in_service h4{ margin-bottom:10px;}
	.in_news h4, .in_product h4, .in_service h4{ font-size:18px;}
	.in_news_main_l,.in_news_main_r{ width:100%;}
	.in_news_main_r li h5, .in_news_main_r li span, .in_news_main_r p{ margin-left:0;}
	.in_news_main_r p,.serText a p{display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden; width:99%; margin:0 auto;}
.in_product_txt p{display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden; width:99%; margin:0 auto;}
	.in_news_main_r li{ width:100%;}
	.in_news_main_r li:nth-child(3),.in_news_main_r li:nth-child(4){ display:none;}
	
	.in_news h4, .in_product h4, .in_service h4{ border:0; line-height:normal; height:auto;}
	
	
	
	.footer{ padding:10px 0;}
	.footer_r{ width:100%; margin:0;}
	.footer_r dl,.footer_r ul{ width:100%; margin-bottom:10px; margin-left:0;}
	.footer_r dl dt, .footer_r dl dd,.footer_r ul li{ float:left; margin-right:10px;}
	
	.footer_l{ width:100%;}
	
	.footer_wrap_top{ margin-bottom:10px;}
	.footer_wrap_bottom{ line-height:22px; padding:10px 0;}

        .in_news_main_r li h5 a {  height:auto;}

        .serText { background:rgba(0,0,0,0.4); position:absolute; bottom:0; }
		
		.in_news_main_r li:nth-child(2){ margin-bottom:0;}

        .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { bottom:4px !important; }

        .banner_index_new ul li table td p { width:90%; padding-bottom:0px; }
    .banner_index_new ul li table td i { width:90%;  }
	
	.foot_r_logo{ width:100%;}
	
	.foot_r_logo a,.foot_r_logo h4{ float:left;}
	.foot_r_logo h4{ margin-right:20px;}
		
}







