<!DOCTYPE html>
<html>
<head>
    <title>主要原料及辅料信息</title>
		<#include "/header.html">
</head>
<style>
    .differ {
        background-color: #e7fafe;
    }
</style>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:goods:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:goods:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:goods:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">种类</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="info.type" placeholder="种类"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="info.name" placeholder="名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">年设计使用量计量单位</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="info.unit" placeholder="年设计使用量计量单位"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">年设计使用量</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="info.sum" placeholder="年设计使用量"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">有毒有害成分</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="info.bad" placeholder="有毒有害成分"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">成分占比(%)</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="info.what" placeholder="成分占比(%)"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">其他信息</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="info.otherInfo" placeholder="其他信息"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                       @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/produce/material.js?_${.now?long}"></script>
</body>
</html>